# STROKE DETECTION

# IMPORTING NECESSARY LIBRARIES

In [46]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

# DATA PREPROCESSING

Import heart stroke dataset :

In [47]:
stroke_data=pd.read_csv(r'D:\Keethu\MSc data science\5th sem\ml lab\New folder\healthcare-dataset-stroke-data.csv')
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

Specify independent and dependent variables :

In [48]:
X=stroke_data.drop(['id','stroke'],axis=1)
y=stroke_data["stroke"]

Detecting Missing values in independent variables :

In [49]:
X.isna().any()

gender               False
age                  False
hypertension         False
heart_disease        False
ever_married         False
work_type            False
Residence_type       False
avg_glucose_level    False
bmi                   True
smoking_status       False
dtype: bool

In [50]:
missing=X['bmi'].isna().sum()
total=len(X['bmi'])
print("Percentage of data missing : ",(missing/total)*100)

Percentage of data missing :  3.9334637964774952

Replacing missing values with mean (since data is numerical) :

In [51]:
X['bmi']=X['bmi'].fillna(X['bmi'].mean())

In [52]:
X['bmi'].isna().any()

False

Changing column type to categorical :

In [53]:
X['gender'] = X['gender'].astype('category')
X['ever_married']=X['ever_married'].astype('category')
X['work_type']=X['work_type'].astype('category')
X['Residence_type']=X['Residence_type'].astype('category')
X['smoking_status']=X['smoking_status'].astype('category')

In [54]:
categories={}
categories['gender']=list(X['gender'].cat.categories)
categories['ever_married']=list(X['ever_married'].cat.categories)
categories['work_type']=list(X['work_type'].cat.categories)
categories['Residence_type']=list(X['Residence_type'].cat.categories)
categories['smoking_status']=list(X['smoking_status'].cat.categories)

Encoding categorical data :

In [55]:
X['gender'] = X['gender'].cat.codes
X['ever_married']=X['ever_married'].cat.codes
X['work_type']=X['work_type'].cat.codes
X['Residence_type']=X['Residence_type'].cat.codes
X['smoking_status']=X['smoking_status'].cat.codes

In [56]:
X.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,2,1,228.69,36.600000,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2
2,1,80.0,0,1,1,2,0,105.92,32.500000,2
3,0,49.0,0,0,1,2,1,171.23,34.400000,3
4,0,79.0,1,0,1,3,0,174.12,24.000000,2

Splitting the Dataset into the Training set and Test set :

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.70, random_state=0)

Feature scaling :

In [58]:
from sklearn.preprocessing import StandardScaler
ss_train = StandardScaler()
X_train = ss_train.fit_transform(X_train)
ss_test = StandardScaler()
X_test = ss_test.fit_transform(X_test)

# INITIALIZING VARIOUS BINARY CLASSIFIERS

# Logistic Regression :

In [59]:
models = {}
from sklearn.linear_model import LogisticRegression
models['Logistic Regression'] = LogisticRegression()

# K-Nearest Neighbors :

In [60]:
from sklearn.neighbors import KNeighborsClassifier
models['K-Nearest Neighbor'] = KNeighborsClassifier()

# Naive Bayes :

In [61]:
from sklearn.naive_bayes import GaussianNB
models['Naive Bayes'] = GaussianNB()

# Random Forest :

In [62]:
from sklearn.ensemble import RandomForestClassifier
models['Random Forest'] = RandomForestClassifier()

# Decision Trees :

In [63]:
from sklearn.tree import DecisionTreeClassifier
models['Decision Trees'] = DecisionTreeClassifier()

# PERFORMANCE EVALUATION

In [64]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
accuracy, precision, recall = {}, {}, {}
for key in models.keys():
    models[key].fit(X_train, y_train)
    predictions = models[key].predict(X_test)
    accuracy[key] = accuracy_score(predictions, y_test)

In [65]:
evaluation = pd.DataFrame(columns=['Model','Accuracy'])
evaluation['Model']=models.keys()
evaluation['Accuracy'] = accuracy.values()

evaluation

                 Model  Accuracy
0  Logistic Regression  0.952195
1   K-Nearest Neighbor  0.950517
2          Naive Bayes  0.878110
3        Random Forest  0.953592
4       Decision Trees  0.918367

# Best model :

In [66]:
best_model=evaluation[evaluation.Accuracy == evaluation.Accuracy.max()]
b_model=best_model['Model'].loc[best_model.index[0]]
b_accuracy=best_model['Accuracy'].loc[best_model.index[0]]*100
print("Best Model :",b_model,"\nAccuracy :",round(b_accuracy,2),"%")

Best Model : Random Forest
Accuracy : 95.36 %

In [94]:
attributes=['gender','age','hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status']
pred=[[0 for i in range(10)] for j in range(1)]
i=0
for att in attributes:
    if(att in ['gender','ever_married','work_type','Residence_type','smoking_status']):
        print("Enter numerical values for",att,":",categories[att])
    else :
        print(att,":")
    pred[0][i]=float(input())
    i+=1
if models['Random Forest'].predict(pred)==1:    
    print("The person may had stroke.")
else:
    print("The person may not had stroke.")

Enter numerical values for gender : ['Female', 'Male', 'Other']
1
age :
27
hypertension :
0
heart_disease :
0
Enter numerical values for ever_married : ['No', 'Yes']
1
Enter numerical values for work_type : ['Govt_job', 'Never_worked', 'Private', 'Self-employed', 'children']
3
Enter numerical values for Residence_type : ['Rural', 'Urban']
1
avg_glucose_level :
82.9
bmi :
25
Enter numerical values for smoking_status : ['Unknown', 'formerly smoked', 'never smoked', 'smokes']
0
The person may not had stroke.